{% include 'partials/header.html' %}
<div class="content">
    {% for note in notes %}
    <div class="note">
        <div class="note-head">
            <h3>{{note.note_name}}</h3>
            <a href="{% url 'add' note.id %}" role="button" class="btn btn-outline-success">Add Todo</a>
            <a href="{% url 'removeNote' note.id %}" role="button" class="btn btn-outline-danger">Delete</a>
        </div>
        <ul>
            {% for todo in note.todo_set.all %}
            <div class="todo">
                <li><a href="/todos/details/{{todo.id}}">{{todo.title}}</a>: {{todo.text}}</li>
                <a href="{% url 'delete' todo.id %}" role="button" class="btn btn-outline-danger">Delete</a>
            </div>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% include 'partials/footer.html'%}